<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductBlacklogCreateDlg" widgetVar="ProductBlacklogCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateProductBlacklogTitle}" closeOnEscape="true">

            <h:form id="ProductBlacklogCreateForm">

                <h:panelGroup id="display" rendered="#{productBlacklogController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateProductBlacklogLabel_idProduct}" for="idProduct" />
                        <p:inputText id="idProduct" value="#{productBlacklogController.selected.idProduct}" title="#{myBundle.CreateProductBlacklogTitle_idProduct}" required="true" requiredMessage="#{myBundle.CreateProductBlacklogRequiredMessage_idProduct}"/>

                        <p:outputLabel value="#{myBundle.CreateProductBlacklogLabel_prioridad}" for="prioridad" />
                        <p:inputText id="prioridad" value="#{productBlacklogController.selected.prioridad}" title="#{myBundle.CreateProductBlacklogTitle_prioridad}"/>

                        <p:outputLabel value="#{myBundle.CreateProductBlacklogLabel_nroHistoriaUsuario}" for="nroHistoriaUsuario" />
                        <p:inputText id="nroHistoriaUsuario" value="#{productBlacklogController.selected.nroHistoriaUsuario}" title="#{myBundle.CreateProductBlacklogTitle_nroHistoriaUsuario}"/>

                        <p:outputLabel value="#{myBundle.CreateProductBlacklogLabel_historiaUsuario}" for="historiaUsuario" />
                        <p:inputTextarea rows="4" cols="30" id="historiaUsuario" value="#{productBlacklogController.selected.historiaUsuario}" title="#{myBundle.CreateProductBlacklogTitle_historiaUsuario}" />

                        <p:outputLabel value="#{myBundle.CreateProductBlacklogLabel_horasEstimadas}" for="horasEstimadas" />
                        <p:inputText id="horasEstimadas" value="#{productBlacklogController.selected.horasEstimadas}" title="#{myBundle.CreateProductBlacklogTitle_horasEstimadas}"/>

                        <p:outputLabel value="#{myBundle.CreateProductBlacklogLabel_idProyecto}" for="idProyecto" />
                        <p:selectOneMenu id="idProyecto" value="#{productBlacklogController.selected.idProyecto}" required="true" requiredMessage="#{myBundle.CreateProductBlacklogRequiredMessage_idProyecto}" converter="proyectoConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{proyectoController.items}"
                                           var="idProyectoItem"
                                           itemValue="#{idProyectoItem}"
                                           itemLabel="#{idProyectoItem.idProyecto.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productBlacklogController.saveNew}" value="#{myBundle.Save}" update="display,:ProductBlacklogListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductBlacklogCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ProductBlacklogCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
