<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ProductBlacklogEditDlg" widgetVar="ProductBlacklogEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditProductBlacklogTitle}" closeOnEscape="true">

            <h:form id="ProductBlacklogEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{productBlacklogController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditProductBlacklogLabel_idProduct}" for="idProduct" />
                        <h:outputText id="idProduct" value="#{productBlacklogController.selected.idProduct}" />

                        <p:outputLabel value="#{myBundle.EditProductBlacklogLabel_prioridad}" for="prioridad" />
                        <p:inputText id="prioridad" value="#{productBlacklogController.selected.prioridad}" title="#{myBundle.EditProductBlacklogTitle_prioridad}"/>

                        <p:outputLabel value="#{myBundle.EditProductBlacklogLabel_nroHistoriaUsuario}" for="nroHistoriaUsuario" />
                        <p:inputText id="nroHistoriaUsuario" value="#{productBlacklogController.selected.nroHistoriaUsuario}" title="#{myBundle.EditProductBlacklogTitle_nroHistoriaUsuario}"/>

                        <p:outputLabel value="#{myBundle.EditProductBlacklogLabel_historiaUsuario}" for="historiaUsuario" />
                        <p:inputTextarea rows="4" cols="30" id="historiaUsuario" value="#{productBlacklogController.selected.historiaUsuario}" title="#{myBundle.EditProductBlacklogTitle_historiaUsuario}" />

                        <p:outputLabel value="#{myBundle.EditProductBlacklogLabel_horasEstimadas}" for="horasEstimadas" />
                        <p:inputText id="horasEstimadas" value="#{productBlacklogController.selected.horasEstimadas}" title="#{myBundle.EditProductBlacklogTitle_horasEstimadas}"/>

                        <p:outputLabel value="#{myBundle.EditProductBlacklogLabel_idProyecto}" for="idProyecto" />
                        <p:selectOneMenu id="idProyecto" value="#{productBlacklogController.selected.idProyecto}" required="true" requiredMessage="#{myBundle.EditProductBlacklogRequiredMessage_idProyecto}" converter="proyectoConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{proyectoController.items}"
                                           var="idProyectoItem"
                                           itemValue="#{idProyectoItem}"
                                           itemLabel="#{idProyectoItem.idProyecto.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{productBlacklogController.save}" value="#{myBundle.Save}" update="display,:ProductBlacklogListForm:datalist,:ProductBlacklogListForm:ProductBlacklogDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProductBlacklogEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ProductBlacklogEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
