<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ProductBlacklogListForm">

        <p:panel header="#{myBundle.ListProductBlacklogTitle}">
            <p:contextMenu id="ProductBlacklogDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ProductBlacklogListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ProductBlacklogListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ProductBlacklogListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ProductBlacklogListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.ProductBlacklogMenuItem_sprintCollection}" icon="ui-icon-search"  action="#{productBlacklogController.navigateSprintCollection}" disabled="#{productBlacklogController.isSprintCollectionEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.ProductBlacklogMenuItem_idProyecto}" icon="ui-icon-search"  actionListener="#{productBlacklogController.prepareIdProyecto}" update=":ProyectoViewForm" oncomplete="PF('ProyectoViewDialog').show()" disabled="#{empty productBlacklogController.selected.idProyecto}"/>  
                <p:menuitem value="#{myBundle.ProductBlacklogMenuItem_userHistoriesCollection}" icon="ui-icon-search"  action="#{productBlacklogController.navigateUserHistoriesCollection}" disabled="#{productBlacklogController.isUserHistoriesCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{productBlacklogController.items}"
                         lazy="false"
                         rowKey="#{item.idProduct}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{productBlacklogController.selected}"
                         filteredValue="#{productBlacklogController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{productBlacklogController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idProduct}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ProductBlacklogDataTableContextMenu" listener="#{productBlacklogController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ProductBlacklogDataTableContextMenu" listener="#{productBlacklogController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{productBlacklogController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ProductBlacklogListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idProduct}" filterBy="#{item.idProduct}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductBlacklogTitle_idProduct}"/>
                    </f:facet>
                    <h:outputText value="#{item.idProduct}"/>
                </p:column>


                <p:column sortBy="#{item.prioridad}" filterBy="#{item.prioridad}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductBlacklogTitle_prioridad}"/>
                    </f:facet>
                    <h:outputText value="#{item.prioridad}"/>
                </p:column>


                <p:column sortBy="#{item.nroHistoriaUsuario}" filterBy="#{item.nroHistoriaUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductBlacklogTitle_nroHistoriaUsuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.nroHistoriaUsuario}"/>
                </p:column>


                <p:column sortBy="#{item.historiaUsuario}" filterBy="#{item.historiaUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductBlacklogTitle_historiaUsuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.historiaUsuario}"/>
                </p:column>


                <p:column sortBy="#{item.horasEstimadas}" filterBy="#{item.horasEstimadas}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductBlacklogTitle_horasEstimadas}"/>
                    </f:facet>
                    <h:outputText value="#{item.horasEstimadas}"/>
                </p:column>


                <p:column sortBy="#{item.idProyecto.idProyecto}" filterBy="#{item.idProyecto.idProyecto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProductBlacklogTitle_idProyecto}"/>
                    </f:facet>
                    <h:outputText value="#{item.idProyecto.idProyecto}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{productBlacklogController.prepareCreate}" update=":ProductBlacklogCreateForm" oncomplete="PF('ProductBlacklogCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ProductBlacklogViewForm" oncomplete="PF('ProductBlacklogViewDialog').show()" disabled="#{empty productBlacklogController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ProductBlacklogEditForm" oncomplete="PF('ProductBlacklogEditDialog').show()" disabled="#{empty productBlacklogController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{productBlacklogController.delete}" update=":growl,datalist" disabled="#{empty productBlacklogController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>