<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductBlacklogViewDlg" widgetVar="ProductBlacklogViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewProductBlacklogTitle}" closeOnEscape="true">

            <h:form id="ProductBlacklogViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{productBlacklogController.selected != null}">

                        <h:outputText value="#{myBundle.ViewProductBlacklogLabel_idProduct}"/>
                        <h:outputText value="#{productBlacklogController.selected.idProduct}" title="#{myBundle.ViewProductBlacklogTitle_idProduct}"/>

                        <h:outputText value="#{myBundle.ViewProductBlacklogLabel_prioridad}"/>
                        <h:outputText value="#{productBlacklogController.selected.prioridad}" title="#{myBundle.ViewProductBlacklogTitle_prioridad}"/>

                        <h:outputText value="#{myBundle.ViewProductBlacklogLabel_nroHistoriaUsuario}"/>
                        <h:outputText value="#{productBlacklogController.selected.nroHistoriaUsuario}" title="#{myBundle.ViewProductBlacklogTitle_nroHistoriaUsuario}"/>

                        <h:outputText value="#{myBundle.ViewProductBlacklogLabel_historiaUsuario}"/>
                        <h:outputText value="#{productBlacklogController.selected.historiaUsuario}" title="#{myBundle.ViewProductBlacklogTitle_historiaUsuario}"/>

                        <h:outputText value="#{myBundle.ViewProductBlacklogLabel_horasEstimadas}"/>
                        <h:outputText value="#{productBlacklogController.selected.horasEstimadas}" title="#{myBundle.ViewProductBlacklogTitle_horasEstimadas}"/>

                        <h:outputText value="#{myBundle.ViewProductBlacklogLabel_idProyecto}"/>
                        <h:outputText value="#{productBlacklogController.selected.idProyecto.idProyecto}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ProductBlacklogViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
