<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RolCreateDlg" widgetVar="RolCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateRolTitle}" closeOnEscape="true">

            <h:form id="RolCreateForm">

                <h:panelGroup id="display" rendered="#{rolController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateRolLabel_idRol}" for="idRol" />
                        <p:inputText id="idRol" value="#{rolController.selected.idRol}" title="#{myBundle.CreateRolTitle_idRol}" required="true" requiredMessage="#{myBundle.CreateRolRequiredMessage_idRol}"/>

                        <p:outputLabel value="#{myBundle.CreateRolLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{rolController.selected.descripcion}" title="#{myBundle.CreateRolTitle_descripcion}" required="true" requiredMessage="#{myBundle.CreateRolRequiredMessage_descripcion}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolController.saveNew}" value="#{myBundle.Save}" update="display,:RolListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RolCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RolCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
