<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="RolEditDlg" widgetVar="RolEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditRolTitle}" closeOnEscape="true">

            <h:form id="RolEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{rolController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditRolLabel_idRol}" for="idRol" />
                        <h:outputText id="idRol" value="#{rolController.selected.idRol}" />

                        <p:outputLabel value="#{myBundle.EditRolLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{rolController.selected.descripcion}" title="#{myBundle.EditRolTitle_descripcion}" required="true" requiredMessage="#{myBundle.EditRolRequiredMessage_descripcion}" size="30" maxlength="30"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rolController.save}" value="#{myBundle.Save}" update="display,:RolListForm:datalist,:RolListForm:RolDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('RolEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('RolEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
