<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="AsignarEditDlg" widgetVar="AsignarEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditAsignarTitle}" closeOnEscape="true">

            <h:form id="AsignarEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{asignarController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditAsignarLabel_idAsignar}" for="idAsignar" />
                        <h:outputText id="idAsignar" value="#{asignarController.selected.idAsignar}" />

                        <p:outputLabel value="#{myBundle.EditAsignarLabel_idProyecto}" for="idProyecto" />
                        <p:selectOneMenu id="idProyecto" value="#{asignarController.selected.idProyecto}" required="true" requiredMessage="#{myBundle.EditAsignarRequiredMessage_idProyecto}" converter="proyectoConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{proyectoController.items}"
                                           var="idProyectoItem"
                                           itemValue="#{idProyectoItem}"
                                           itemLabel="#{idProyectoItem.idProyecto.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditAsignarLabel_idRol}" for="idRol" />
                        <p:selectOneMenu id="idRol" value="#{asignarController.selected.idRol}" required="true" requiredMessage="#{myBundle.EditAsignarRequiredMessage_idRol}" converter="rolConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{rolController.items}"
                                           var="idRolItem"
                                           itemValue="#{idRolItem}"
                                           itemLabel="#{idRolItem.descripcion.toString()}"
                                           />

                        </p:selectOneMenu>

                        <p:outputLabel value="#{myBundle.EditAsignarLabel_idUsario}" for="idUsario" />
                        <p:selectOneMenu id="idUsario" value="#{asignarController.selected.idUsario}" required="true" requiredMessage="#{myBundle.EditAsignarRequiredMessage_idUsario}" converter="usuarioConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{usuarioController.items}"
                                           var="idUsarioItem"
                                           itemValue="#{idUsarioItem}"
                                           itemLabel="#{idUsarioItem.username.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{asignarController.save}" value="#{myBundle.Save}" update="display,:AsignarListForm:datalist,:AsignarListForm:AsignarDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('AsignarEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('AsignarEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
