<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="AsignarListForm">

        <p:panel header="#{myBundle.ListAsignarTitle}">
            <p:contextMenu id="AsignarDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('AsignarListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('AsignarListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('AsignarListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('AsignarListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.AsignarMenuItem_idProyecto}" icon="ui-icon-search"  actionListener="#{asignarController.prepareIdProyecto}" update=":ProyectoViewForm" oncomplete="PF('ProyectoViewDialog').show()" disabled="#{empty asignarController.selected.idProyecto}"/>  
                <p:menuitem value="#{myBundle.AsignarMenuItem_idRol}" icon="ui-icon-search"  actionListener="#{asignarController.prepareIdRol}" update=":RolViewForm" oncomplete="PF('RolViewDialog').show()" disabled="#{empty asignarController.selected.idRol}"/>  
                <p:menuitem value="#{myBundle.AsignarMenuItem_idUsario}" icon="ui-icon-search"  actionListener="#{asignarController.prepareIdUsario}" update=":UsuarioViewForm" oncomplete="PF('UsuarioViewDialog').show()" disabled="#{empty asignarController.selected.idUsario}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{asignarController.items}"
                         lazy="false"
                         rowKey="#{item.idAsignar}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{asignarController.selected}"
                         filteredValue="#{asignarController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{asignarController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idAsignar}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:AsignarDataTableContextMenu" listener="#{asignarController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:AsignarDataTableContextMenu" listener="#{asignarController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{asignarController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('AsignarListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idAsignar}" filterBy="#{item.idAsignar}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAsignarTitle_idAsignar}"/>
                    </f:facet>
                    <h:outputText value="#{item.idAsignar}"/>
                </p:column>


                <p:column sortBy="#{item.idProyecto.idProyecto}" filterBy="#{item.idProyecto.idProyecto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAsignarTitle_idProyecto}"/>
                    </f:facet>
                    <h:outputText value="#{item.idProyecto.idProyecto}"/>
                </p:column>


                <p:column sortBy="#{item.idRol.descripcion}" filterBy="#{item.idRol.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAsignarTitle_idRol}"/>
                    </f:facet>
                    <h:outputText value="#{item.idRol.descripcion}"/>
                </p:column>


                <p:column sortBy="#{item.idUsario.username}" filterBy="#{item.idUsario.username}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListAsignarTitle_idUsario}"/>
                    </f:facet>
                    <h:outputText value="#{item.idUsario.username}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{asignarController.prepareCreate}" update=":AsignarCreateForm" oncomplete="PF('AsignarCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":AsignarViewForm" oncomplete="PF('AsignarViewDialog').show()" disabled="#{empty asignarController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":AsignarEditForm" oncomplete="PF('AsignarEditDialog').show()" disabled="#{empty asignarController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{asignarController.delete}" update=":growl,datalist" disabled="#{empty asignarController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>