<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AsignarViewDlg" widgetVar="AsignarViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewAsignarTitle}" closeOnEscape="true">

            <h:form id="AsignarViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{asignarController.selected != null}">

                        <h:outputText value="#{myBundle.ViewAsignarLabel_idAsignar}"/>
                        <h:outputText value="#{asignarController.selected.idAsignar}" title="#{myBundle.ViewAsignarTitle_idAsignar}"/>

                        <h:outputText value="#{myBundle.ViewAsignarLabel_idProyecto}"/>
                        <h:outputText value="#{asignarController.selected.idProyecto.idProyecto}"/>

                        <h:outputText value="#{myBundle.ViewAsignarLabel_idRol}"/>
                        <h:outputText value="#{asignarController.selected.idRol.descripcion}"/>

                        <h:outputText value="#{myBundle.ViewAsignarLabel_idUsario}"/>
                        <h:outputText value="#{asignarController.selected.idUsario.username}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('AsignarViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
