<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUsuarioTitle}" closeOnEscape="true">

            <h:form id="UsuarioCreateForm">

                <h:panelGroup id="display" rendered="#{usuarioController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_idUsuario}" for="idUsuario" />
                        <p:inputText id="idUsuario" value="#{usuarioController.selected.idUsuario}" title="#{myBundle.CreateUsuarioTitle_idUsuario}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_idUsuario}"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_username}" for="username" />
                        <p:inputText id="username" value="#{usuarioController.selected.username}" title="#{myBundle.CreateUsuarioTitle_username}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_username}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_nombreApellido}" for="nombreApellido" />
                        <p:inputText id="nombreApellido" value="#{usuarioController.selected.nombreApellido}" title="#{myBundle.CreateUsuarioTitle_nombreApellido}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_email}" for="email" />
                        <p:inputText id="email" value="#{usuarioController.selected.email}" title="#{myBundle.CreateUsuarioTitle_email}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.CreateUsuarioLabel_pass}" for="pass" />
                        <p:inputText id="pass" value="#{usuarioController.selected.pass}" title="#{myBundle.CreateUsuarioTitle_pass}" required="true" requiredMessage="#{myBundle.CreateUsuarioRequiredMessage_pass}" size="10" maxlength="10"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.saveNew}" value="#{myBundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuarioCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UsuarioCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
