<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UsuarioEditDlg" widgetVar="UsuarioEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUsuarioTitle}" closeOnEscape="true">

            <h:form id="UsuarioEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{usuarioController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUsuarioLabel_idUsuario}" for="idUsuario" />
                        <h:outputText id="idUsuario" value="#{usuarioController.selected.idUsuario}" />

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_username}" for="username" />
                        <p:inputText id="username" value="#{usuarioController.selected.username}" title="#{myBundle.EditUsuarioTitle_username}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_username}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_nombreApellido}" for="nombreApellido" />
                        <p:inputText id="nombreApellido" value="#{usuarioController.selected.nombreApellido}" title="#{myBundle.EditUsuarioTitle_nombreApellido}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_email}" for="email" />
                        <p:inputText id="email" value="#{usuarioController.selected.email}" title="#{myBundle.EditUsuarioTitle_email}" size="30" maxlength="30"/>

                        <p:outputLabel value="#{myBundle.EditUsuarioLabel_pass}" for="pass" />
                        <p:inputText id="pass" value="#{usuarioController.selected.pass}" title="#{myBundle.EditUsuarioTitle_pass}" required="true" requiredMessage="#{myBundle.EditUsuarioRequiredMessage_pass}" size="10" maxlength="10"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.save}" value="#{myBundle.Save}" update="display,:UsuarioListForm:datalist,:UsuarioListForm:UsuarioDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UsuarioEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UsuarioEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
