<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UsuarioListForm">

        <p:panel header="#{myBundle.ListUsuarioTitle}">
            <p:contextMenu id="UsuarioDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('UsuarioListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('UsuarioListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('UsuarioListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('UsuarioListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.UsuarioMenuItem_asignarCollection}" icon="ui-icon-search"  action="#{usuarioController.navigateAsignarCollection}" disabled="#{usuarioController.isAsignarCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{usuarioController.items}"
                         lazy="false"
                         rowKey="#{item.idUsuario}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{usuarioController.selected}"
                         filteredValue="#{usuarioController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{usuarioController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idUsuario}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UsuarioDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UsuarioDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UsuarioListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idUsuario}" filterBy="#{item.idUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuarioTitle_idUsuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.idUsuario}"/>
                </p:column>


                <p:column sortBy="#{item.username}" filterBy="#{item.username}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuarioTitle_username}"/>
                    </f:facet>
                    <h:outputText value="#{item.username}"/>
                </p:column>


                <p:column sortBy="#{item.nombreApellido}" filterBy="#{item.nombreApellido}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuarioTitle_nombreApellido}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreApellido}"/>
                </p:column>


                <p:column sortBy="#{item.email}" filterBy="#{item.email}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuarioTitle_email}"/>
                    </f:facet>
                    <h:outputText value="#{item.email}"/>
                </p:column>


                <p:column sortBy="#{item.pass}" filterBy="#{item.pass}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUsuarioTitle_pass}"/>
                    </f:facet>
                    <h:outputText value="#{item.pass}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{usuarioController.prepareCreate}" update=":UsuarioCreateForm" oncomplete="PF('UsuarioCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":UsuarioViewForm" oncomplete="PF('UsuarioViewDialog').show()" disabled="#{empty usuarioController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":UsuarioEditForm" oncomplete="PF('UsuarioEditDialog').show()" disabled="#{empty usuarioController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{usuarioController.delete}" update=":growl,datalist" disabled="#{empty usuarioController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>