<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProyectoCreateDlg" widgetVar="ProyectoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateProyectoTitle}" closeOnEscape="true">

            <h:form id="ProyectoCreateForm">

                <h:panelGroup id="display" rendered="#{proyectoController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateProyectoLabel_idProyecto}" for="idProyecto" />
                        <p:inputText id="idProyecto" value="#{proyectoController.selected.idProyecto}" title="#{myBundle.CreateProyectoTitle_idProyecto}" required="true" requiredMessage="#{myBundle.CreateProyectoRequiredMessage_idProyecto}"/>

                        <p:outputLabel value="#{myBundle.CreateProyectoLabel_nombreProyecto}" for="nombreProyecto" />
                        <p:inputText id="nombreProyecto" value="#{proyectoController.selected.nombreProyecto}" title="#{myBundle.CreateProyectoTitle_nombreProyecto}" required="true" requiredMessage="#{myBundle.CreateProyectoRequiredMessage_nombreProyecto}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateProyectoLabel_fechaInicio}" for="fechaInicio" />
                        <p:calendar id="fechaInicio" pattern="MM/dd/yyyy" value="#{proyectoController.selected.fechaInicio}" title="#{myBundle.CreateProyectoTitle_fechaInicio}" required="true" requiredMessage="#{myBundle.CreateProyectoRequiredMessage_fechaInicio}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateProyectoLabel_fechaFin}" for="fechaFin" />
                        <p:calendar id="fechaFin" pattern="MM/dd/yyyy" value="#{proyectoController.selected.fechaFin}" title="#{myBundle.CreateProyectoTitle_fechaFin}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.CreateProyectoLabel_cliente}" for="cliente" />
                        <p:inputText id="cliente" value="#{proyectoController.selected.cliente}" title="#{myBundle.CreateProyectoTitle_cliente}" required="true" requiredMessage="#{myBundle.CreateProyectoRequiredMessage_cliente}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proyectoController.saveNew}" value="#{myBundle.Save}" update="display,:ProyectoListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProyectoCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ProyectoCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
