<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ProyectoEditDlg" widgetVar="ProyectoEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditProyectoTitle}" closeOnEscape="true">

            <h:form id="ProyectoEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{proyectoController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditProyectoLabel_idProyecto}" for="idProyecto" />
                        <h:outputText id="idProyecto" value="#{proyectoController.selected.idProyecto}" />

                        <p:outputLabel value="#{myBundle.EditProyectoLabel_nombreProyecto}" for="nombreProyecto" />
                        <p:inputText id="nombreProyecto" value="#{proyectoController.selected.nombreProyecto}" title="#{myBundle.EditProyectoTitle_nombreProyecto}" required="true" requiredMessage="#{myBundle.EditProyectoRequiredMessage_nombreProyecto}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditProyectoLabel_fechaInicio}" for="fechaInicio" />
                        <p:calendar id="fechaInicio" pattern="MM/dd/yyyy" value="#{proyectoController.selected.fechaInicio}" title="#{myBundle.EditProyectoTitle_fechaInicio}" required="true" requiredMessage="#{myBundle.EditProyectoRequiredMessage_fechaInicio}" showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditProyectoLabel_fechaFin}" for="fechaFin" />
                        <p:calendar id="fechaFin" pattern="MM/dd/yyyy" value="#{proyectoController.selected.fechaFin}" title="#{myBundle.EditProyectoTitle_fechaFin}"  showOn="button"/>

                        <p:outputLabel value="#{myBundle.EditProyectoLabel_cliente}" for="cliente" />
                        <p:inputText id="cliente" value="#{proyectoController.selected.cliente}" title="#{myBundle.EditProyectoTitle_cliente}" required="true" requiredMessage="#{myBundle.EditProyectoRequiredMessage_cliente}" size="200" maxlength="200"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{proyectoController.save}" value="#{myBundle.Save}" update="display,:ProyectoListForm:datalist,:ProyectoListForm:ProyectoDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('ProyectoEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('ProyectoEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
