<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ProyectoListForm">

        <p:panel header="#{myBundle.ListProyectoTitle}">
            <p:contextMenu id="ProyectoDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('ProyectoListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('ProyectoListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('ProyectoListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('ProyectoListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.ProyectoMenuItem_productBlacklogCollection}" icon="ui-icon-search"  action="#{proyectoController.navigateProductBlacklogCollection}" disabled="#{proyectoController.isProductBlacklogCollectionEmpty}" ajax="false"/>  
                <p:menuitem value="#{myBundle.ProyectoMenuItem_asignarCollection}" icon="ui-icon-search"  action="#{proyectoController.navigateAsignarCollection}" disabled="#{proyectoController.isAsignarCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{proyectoController.items}"
                         lazy="false"
                         rowKey="#{item.idProyecto}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{proyectoController.selected}"
                         filteredValue="#{proyectoController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{proyectoController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idProyecto}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ProyectoDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ProyectoDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ProyectoListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idProyecto}" filterBy="#{item.idProyecto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProyectoTitle_idProyecto}"/>
                    </f:facet>
                    <h:outputText value="#{item.idProyecto}"/>
                </p:column>


                <p:column sortBy="#{item.nombreProyecto}" filterBy="#{item.nombreProyecto}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProyectoTitle_nombreProyecto}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombreProyecto}"/>
                </p:column>


                <p:column sortBy="#{item.fechaInicio}" filterBy="#{item.fechaInicio}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProyectoTitle_fechaInicio}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaInicio}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.fechaFin}" filterBy="#{item.fechaFin}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProyectoTitle_fechaFin}"/>
                    </f:facet>
                    <h:outputText value="#{item.fechaFin}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                </p:column>


                <p:column sortBy="#{item.cliente}" filterBy="#{item.cliente}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListProyectoTitle_cliente}"/>
                    </f:facet>
                    <h:outputText value="#{item.cliente}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{proyectoController.prepareCreate}" update=":ProyectoCreateForm" oncomplete="PF('ProyectoCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":ProyectoViewForm" oncomplete="PF('ProyectoViewDialog').show()" disabled="#{empty proyectoController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":ProyectoEditForm" oncomplete="PF('ProyectoEditDialog').show()" disabled="#{empty proyectoController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{proyectoController.delete}" update=":growl,datalist" disabled="#{empty proyectoController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>