<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProyectoViewDlg" widgetVar="ProyectoViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewProyectoTitle}" closeOnEscape="true">

            <h:form id="ProyectoViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{proyectoController.selected != null}">

                        <h:outputText value="#{myBundle.ViewProyectoLabel_idProyecto}"/>
                        <h:outputText value="#{proyectoController.selected.idProyecto}" title="#{myBundle.ViewProyectoTitle_idProyecto}"/>

                        <h:outputText value="#{myBundle.ViewProyectoLabel_nombreProyecto}"/>
                        <h:outputText value="#{proyectoController.selected.nombreProyecto}" title="#{myBundle.ViewProyectoTitle_nombreProyecto}"/>

                        <h:outputText value="#{myBundle.ViewProyectoLabel_fechaInicio}"/>
                        <h:outputText value="#{proyectoController.selected.fechaInicio}" title="#{myBundle.ViewProyectoTitle_fechaInicio}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewProyectoLabel_fechaFin}"/>
                        <h:outputText value="#{proyectoController.selected.fechaFin}" title="#{myBundle.ViewProyectoTitle_fechaFin}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>

                        <h:outputText value="#{myBundle.ViewProyectoLabel_cliente}"/>
                        <h:outputText value="#{proyectoController.selected.cliente}" title="#{myBundle.ViewProyectoTitle_cliente}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('ProyectoViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
