<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SprintCreateDlg" widgetVar="SprintCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateSprintTitle}" closeOnEscape="true">

            <h:form id="SprintCreateForm">

                <h:panelGroup id="display" rendered="#{sprintController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_idSprint}" for="idSprint" />
                        <p:inputText id="idSprint" value="#{sprintController.selected.idSprint}" title="#{myBundle.CreateSprintTitle_idSprint}" required="true" requiredMessage="#{myBundle.CreateSprintRequiredMessage_idSprint}"/>

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{sprintController.selected.nombre}" title="#{myBundle.CreateSprintTitle_nombre}" required="true" requiredMessage="#{myBundle.CreateSprintRequiredMessage_nombre}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{sprintController.selected.estado}" title="#{myBundle.CreateSprintTitle_estado}" required="true" requiredMessage="#{myBundle.CreateSprintRequiredMessage_estado}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_usuarioAsignados}" for="usuarioAsignados" />
                        <p:inputText id="usuarioAsignados" value="#{sprintController.selected.usuarioAsignados}" title="#{myBundle.CreateSprintTitle_usuarioAsignados}" required="true" requiredMessage="#{myBundle.CreateSprintRequiredMessage_usuarioAsignados}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_prioridad}" for="prioridad" />
                        <p:inputText id="prioridad" value="#{sprintController.selected.prioridad}" title="#{myBundle.CreateSprintTitle_prioridad}"/>

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_historiaUsuario}" for="historiaUsuario" />
                        <p:inputTextarea rows="4" cols="30" id="historiaUsuario" value="#{sprintController.selected.historiaUsuario}" title="#{myBundle.CreateSprintTitle_historiaUsuario}" />

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_horasEstimadas}" for="horasEstimadas" />
                        <p:inputText id="horasEstimadas" value="#{sprintController.selected.horasEstimadas}" title="#{myBundle.CreateSprintTitle_horasEstimadas}"/>

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_nroHistoriaUsuario}" for="nroHistoriaUsuario" />
                        <p:inputText id="nroHistoriaUsuario" value="#{sprintController.selected.nroHistoriaUsuario}" title="#{myBundle.CreateSprintTitle_nroHistoriaUsuario}"/>

                        <p:outputLabel value="#{myBundle.CreateSprintLabel_idProduct}" for="idProduct" />
                        <p:selectOneMenu id="idProduct" value="#{sprintController.selected.idProduct}" required="true" requiredMessage="#{myBundle.CreateSprintRequiredMessage_idProduct}" converter="productBlacklogConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productBlacklogController.items}"
                                           var="idProductItem"
                                           itemValue="#{idProductItem}"
                                           itemLabel="#{idProductItem.idProduct.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sprintController.saveNew}" value="#{myBundle.Save}" update="display,:SprintListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SprintCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SprintCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
