<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="SprintEditDlg" widgetVar="SprintEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditSprintTitle}" closeOnEscape="true">

            <h:form id="SprintEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{sprintController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditSprintLabel_idSprint}" for="idSprint" />
                        <h:outputText id="idSprint" value="#{sprintController.selected.idSprint}" />

                        <p:outputLabel value="#{myBundle.EditSprintLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{sprintController.selected.nombre}" title="#{myBundle.EditSprintTitle_nombre}" required="true" requiredMessage="#{myBundle.EditSprintRequiredMessage_nombre}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditSprintLabel_estado}" for="estado" />
                        <p:inputText id="estado" value="#{sprintController.selected.estado}" title="#{myBundle.EditSprintTitle_estado}" required="true" requiredMessage="#{myBundle.EditSprintRequiredMessage_estado}" size="10" maxlength="10"/>

                        <p:outputLabel value="#{myBundle.EditSprintLabel_usuarioAsignados}" for="usuarioAsignados" />
                        <p:inputText id="usuarioAsignados" value="#{sprintController.selected.usuarioAsignados}" title="#{myBundle.EditSprintTitle_usuarioAsignados}" required="true" requiredMessage="#{myBundle.EditSprintRequiredMessage_usuarioAsignados}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditSprintLabel_prioridad}" for="prioridad" />
                        <p:inputText id="prioridad" value="#{sprintController.selected.prioridad}" title="#{myBundle.EditSprintTitle_prioridad}"/>

                        <p:outputLabel value="#{myBundle.EditSprintLabel_historiaUsuario}" for="historiaUsuario" />
                        <p:inputTextarea rows="4" cols="30" id="historiaUsuario" value="#{sprintController.selected.historiaUsuario}" title="#{myBundle.EditSprintTitle_historiaUsuario}" />

                        <p:outputLabel value="#{myBundle.EditSprintLabel_horasEstimadas}" for="horasEstimadas" />
                        <p:inputText id="horasEstimadas" value="#{sprintController.selected.horasEstimadas}" title="#{myBundle.EditSprintTitle_horasEstimadas}"/>

                        <p:outputLabel value="#{myBundle.EditSprintLabel_nroHistoriaUsuario}" for="nroHistoriaUsuario" />
                        <p:inputText id="nroHistoriaUsuario" value="#{sprintController.selected.nroHistoriaUsuario}" title="#{myBundle.EditSprintTitle_nroHistoriaUsuario}"/>

                        <p:outputLabel value="#{myBundle.EditSprintLabel_idProduct}" for="idProduct" />
                        <p:selectOneMenu id="idProduct" value="#{sprintController.selected.idProduct}" required="true" requiredMessage="#{myBundle.EditSprintRequiredMessage_idProduct}" converter="productBlacklogConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productBlacklogController.items}"
                                           var="idProductItem"
                                           itemValue="#{idProductItem}"
                                           itemLabel="#{idProductItem.idProduct.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{sprintController.save}" value="#{myBundle.Save}" update="display,:SprintListForm:datalist,:SprintListForm:SprintDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('SprintEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('SprintEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
