<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="SprintListForm">

        <p:panel header="#{myBundle.ListSprintTitle}">
            <p:contextMenu id="SprintDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('SprintListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('SprintListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('SprintListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('SprintListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.SprintMenuItem_idProduct}" icon="ui-icon-search"  actionListener="#{sprintController.prepareIdProduct}" update=":ProductBlacklogViewForm" oncomplete="PF('ProductBlacklogViewDialog').show()" disabled="#{empty sprintController.selected.idProduct}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{sprintController.items}"
                         lazy="false"
                         rowKey="#{item.idSprint}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{sprintController.selected}"
                         filteredValue="#{sprintController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{sprintController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idSprint}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SprintDataTableContextMenu" listener="#{sprintController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:SprintDataTableContextMenu" listener="#{sprintController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{sprintController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('SprintListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idSprint}" filterBy="#{item.idSprint}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSprintTitle_idSprint}"/>
                    </f:facet>
                    <h:outputText value="#{item.idSprint}"/>
                </p:column>


                <p:column sortBy="#{item.nombre}" filterBy="#{item.nombre}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSprintTitle_nombre}"/>
                    </f:facet>
                    <h:outputText value="#{item.nombre}"/>
                </p:column>


                <p:column sortBy="#{item.estado}" filterBy="#{item.estado}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSprintTitle_estado}"/>
                    </f:facet>
                    <h:outputText value="#{item.estado}"/>
                </p:column>


                <p:column sortBy="#{item.usuarioAsignados}" filterBy="#{item.usuarioAsignados}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSprintTitle_usuarioAsignados}"/>
                    </f:facet>
                    <h:outputText value="#{item.usuarioAsignados}"/>
                </p:column>


                <p:column sortBy="#{item.prioridad}" filterBy="#{item.prioridad}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSprintTitle_prioridad}"/>
                    </f:facet>
                    <h:outputText value="#{item.prioridad}"/>
                </p:column>


                <p:column sortBy="#{item.historiaUsuario}" filterBy="#{item.historiaUsuario}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListSprintTitle_historiaUsuario}"/>
                    </f:facet>
                    <h:outputText value="#{item.historiaUsuario}"/>
                </p:column>

                <ui:remove>
                    <p:column sortBy="#{item.horasEstimadas}" filterBy="#{item.horasEstimadas}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSprintTitle_horasEstimadas}"/>
                        </f:facet>
                        <h:outputText value="#{item.horasEstimadas}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.nroHistoriaUsuario}" filterBy="#{item.nroHistoriaUsuario}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSprintTitle_nroHistoriaUsuario}"/>
                        </f:facet>
                        <h:outputText value="#{item.nroHistoriaUsuario}"/>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.idProduct.idProduct}" filterBy="#{item.idProduct.idProduct}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListSprintTitle_idProduct}"/>
                        </f:facet>
                        <h:outputText value="#{item.idProduct.idProduct}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{sprintController.prepareCreate}" update=":SprintCreateForm" oncomplete="PF('SprintCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":SprintViewForm" oncomplete="PF('SprintViewDialog').show()" disabled="#{empty sprintController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":SprintEditForm" oncomplete="PF('SprintEditDialog').show()" disabled="#{empty sprintController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{sprintController.delete}" update=":growl,datalist" disabled="#{empty sprintController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>