<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="SprintViewDlg" widgetVar="SprintViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewSprintTitle}" closeOnEscape="true">

            <h:form id="SprintViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{sprintController.selected != null}">

                        <h:outputText value="#{myBundle.ViewSprintLabel_idSprint}"/>
                        <h:outputText value="#{sprintController.selected.idSprint}" title="#{myBundle.ViewSprintTitle_idSprint}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_nombre}"/>
                        <h:outputText value="#{sprintController.selected.nombre}" title="#{myBundle.ViewSprintTitle_nombre}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_estado}"/>
                        <h:outputText value="#{sprintController.selected.estado}" title="#{myBundle.ViewSprintTitle_estado}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_usuarioAsignados}"/>
                        <h:outputText value="#{sprintController.selected.usuarioAsignados}" title="#{myBundle.ViewSprintTitle_usuarioAsignados}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_prioridad}"/>
                        <h:outputText value="#{sprintController.selected.prioridad}" title="#{myBundle.ViewSprintTitle_prioridad}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_historiaUsuario}"/>
                        <h:outputText value="#{sprintController.selected.historiaUsuario}" title="#{myBundle.ViewSprintTitle_historiaUsuario}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_horasEstimadas}"/>
                        <h:outputText value="#{sprintController.selected.horasEstimadas}" title="#{myBundle.ViewSprintTitle_horasEstimadas}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_nroHistoriaUsuario}"/>
                        <h:outputText value="#{sprintController.selected.nroHistoriaUsuario}" title="#{myBundle.ViewSprintTitle_nroHistoriaUsuario}"/>

                        <h:outputText value="#{myBundle.ViewSprintLabel_idProduct}"/>
                        <h:outputText value="#{sprintController.selected.idProduct.idProduct}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('SprintViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
