<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <h:form id="menuForm">
            <p:menubar>
                <p:menuitem value="#{myBundle.Home}" outcome="/index" icon="ui-icon-home"/>
                <p:submenu label="#{myBundle.Maintenance}">
                    <p:menuitem value="#{myBundle.AsignarHeading}..." outcome="/app/asignar/index" />
                    <p:menuitem value="#{myBundle.ProductBlacklogHeading}..." outcome="/app/productBlacklog/index" />
                    <p:menuitem value="#{myBundle.ProyectoHeading}..." outcome="/app/proyecto/index" />
                    <p:menuitem value="#{myBundle.RolHeading}..." outcome="/app/rol/index" />
                    <p:menuitem value="#{myBundle.SprintHeading}..." outcome="/app/sprint/index" />
                    <p:menuitem value="#{myBundle.UserHistoriesHeading}..." outcome="/app/userHistories/index" />
                    <p:menuitem value="#{myBundle.UsuarioHeading}..." outcome="/app/usuario/index" />
                </p:submenu>
            </p:menubar>
        </h:form>
    </ui:composition>

</html>