<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserHistoriesCreateDlg" widgetVar="UserHistoriesCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{myBundle.CreateUserHistoriesTitle}" closeOnEscape="true">

            <h:form id="UserHistoriesCreateForm">

                <h:panelGroup id="display" rendered="#{userHistoriesController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{myBundle.CreateUserHistoriesLabel_idUser}" for="idUser" />
                        <p:inputText id="idUser" value="#{userHistoriesController.selected.idUser}" title="#{myBundle.CreateUserHistoriesTitle_idUser}" required="true" requiredMessage="#{myBundle.CreateUserHistoriesRequiredMessage_idUser}"/>

                        <p:outputLabel value="#{myBundle.CreateUserHistoriesLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{userHistoriesController.selected.descripcion}" title="#{myBundle.CreateUserHistoriesTitle_descripcion}" required="true" requiredMessage="#{myBundle.CreateUserHistoriesRequiredMessage_descripcion}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.CreateUserHistoriesLabel_prioridad}" for="prioridad" />
                        <p:inputText id="prioridad" value="#{userHistoriesController.selected.prioridad}" title="#{myBundle.CreateUserHistoriesTitle_prioridad}"/>

                        <p:outputLabel value="#{myBundle.CreateUserHistoriesLabel_numeroiteracion}" for="numeroiteracion" />
                        <p:inputText id="numeroiteracion" value="#{userHistoriesController.selected.numeroiteracion}" title="#{myBundle.CreateUserHistoriesTitle_numeroiteracion}"/>

                        <p:outputLabel value="#{myBundle.CreateUserHistoriesLabel_riesgo}" for="riesgo" />
                        <p:inputText id="riesgo" value="#{userHistoriesController.selected.riesgo}" title="#{myBundle.CreateUserHistoriesTitle_riesgo}"/>

                        <p:outputLabel value="#{myBundle.CreateUserHistoriesLabel_devresponsable}" for="devresponsable" />
                        <p:inputText id="devresponsable" value="#{userHistoriesController.selected.devresponsable}" title="#{myBundle.CreateUserHistoriesTitle_devresponsable}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.CreateUserHistoriesLabel_idProduct}" for="idProduct" />
                        <p:selectOneMenu id="idProduct" value="#{userHistoriesController.selected.idProduct}" required="true" requiredMessage="#{myBundle.CreateUserHistoriesRequiredMessage_idProduct}" converter="productBlacklogConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productBlacklogController.items}"
                                           var="idProductItem"
                                           itemValue="#{idProductItem}"
                                           itemLabel="#{idProductItem.idProduct.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userHistoriesController.saveNew}" value="#{myBundle.Save}" update="display,:UserHistoriesListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UserHistoriesCreateDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UserHistoriesCreateDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
