<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="UserHistoriesEditDlg" widgetVar="UserHistoriesEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.EditUserHistoriesTitle}" closeOnEscape="true">

            <h:form id="UserHistoriesEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{userHistoriesController.selected != null}">


                        <h:outputLabel value="#{myBundle.EditUserHistoriesLabel_idUser}" for="idUser" />
                        <h:outputText id="idUser" value="#{userHistoriesController.selected.idUser}" />

                        <p:outputLabel value="#{myBundle.EditUserHistoriesLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{userHistoriesController.selected.descripcion}" title="#{myBundle.EditUserHistoriesTitle_descripcion}" required="true" requiredMessage="#{myBundle.EditUserHistoriesRequiredMessage_descripcion}" size="100" maxlength="100"/>

                        <p:outputLabel value="#{myBundle.EditUserHistoriesLabel_prioridad}" for="prioridad" />
                        <p:inputText id="prioridad" value="#{userHistoriesController.selected.prioridad}" title="#{myBundle.EditUserHistoriesTitle_prioridad}"/>

                        <p:outputLabel value="#{myBundle.EditUserHistoriesLabel_numeroiteracion}" for="numeroiteracion" />
                        <p:inputText id="numeroiteracion" value="#{userHistoriesController.selected.numeroiteracion}" title="#{myBundle.EditUserHistoriesTitle_numeroiteracion}"/>

                        <p:outputLabel value="#{myBundle.EditUserHistoriesLabel_riesgo}" for="riesgo" />
                        <p:inputText id="riesgo" value="#{userHistoriesController.selected.riesgo}" title="#{myBundle.EditUserHistoriesTitle_riesgo}"/>

                        <p:outputLabel value="#{myBundle.EditUserHistoriesLabel_devresponsable}" for="devresponsable" />
                        <p:inputText id="devresponsable" value="#{userHistoriesController.selected.devresponsable}" title="#{myBundle.EditUserHistoriesTitle_devresponsable}" size="50" maxlength="50"/>

                        <p:outputLabel value="#{myBundle.EditUserHistoriesLabel_idProduct}" for="idProduct" />
                        <p:selectOneMenu id="idProduct" value="#{userHistoriesController.selected.idProduct}" required="true" requiredMessage="#{myBundle.EditUserHistoriesRequiredMessage_idProduct}" converter="productBlacklogConverter">
                            <f:selectItem itemLabel="#{myBundle.SelectOneMessage}"/>
                            <f:selectItems value="#{productBlacklogController.items}"
                                           var="idProductItem"
                                           itemValue="#{idProductItem}"
                                           itemLabel="#{idProductItem.idProduct.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userHistoriesController.save}" value="#{myBundle.Save}" update="display,:UserHistoriesListForm:datalist,:UserHistoriesListForm:UserHistoriesDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,PF('UserHistoriesEditDialog'));">
                        <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{myBundle.Cancel}" oncomplete="PF('UserHistoriesEditDialog').hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
