<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="UserHistoriesListForm">

        <p:panel header="#{myBundle.ListUserHistoriesTitle}">
            <p:contextMenu id="UserHistoriesDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{myBundle.Create}" onclick="document.getElementById('UserHistoriesListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{myBundle.View}" onclick="document.getElementById('UserHistoriesListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{myBundle.Edit}" onclick="document.getElementById('UserHistoriesListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{myBundle.Delete}" onclick="document.getElementById('UserHistoriesListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{myBundle.UserHistoriesMenuItem_idProduct}" icon="ui-icon-search"  actionListener="#{userHistoriesController.prepareIdProduct}" update=":ProductBlacklogViewForm" oncomplete="PF('ProductBlacklogViewDialog').show()" disabled="#{empty userHistoriesController.selected.idProduct}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{userHistoriesController.items}"
                         lazy="false"
                         rowKey="#{item.idUser}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{userHistoriesController.selected}"
                         filteredValue="#{userHistoriesController.filteredItems}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{userHistoriesController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.idUser}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UserHistoriesDataTableContextMenu" listener="#{userHistoriesController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:UserHistoriesDataTableContextMenu" listener="#{userHistoriesController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{userHistoriesController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('UserHistoriesListForm:viewButton').click();"/>

                <p:column sortBy="#{item.idUser}" filterBy="#{item.idUser}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHistoriesTitle_idUser}"/>
                    </f:facet>
                    <h:outputText value="#{item.idUser}"/>
                </p:column>


                <p:column sortBy="#{item.descripcion}" filterBy="#{item.descripcion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHistoriesTitle_descripcion}"/>
                    </f:facet>
                    <h:outputText value="#{item.descripcion}"/>
                </p:column>


                <p:column sortBy="#{item.prioridad}" filterBy="#{item.prioridad}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHistoriesTitle_prioridad}"/>
                    </f:facet>
                    <h:outputText value="#{item.prioridad}"/>
                </p:column>


                <p:column sortBy="#{item.numeroiteracion}" filterBy="#{item.numeroiteracion}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHistoriesTitle_numeroiteracion}"/>
                    </f:facet>
                    <h:outputText value="#{item.numeroiteracion}"/>
                </p:column>


                <p:column sortBy="#{item.riesgo}" filterBy="#{item.riesgo}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHistoriesTitle_riesgo}"/>
                    </f:facet>
                    <h:outputText value="#{item.riesgo}"/>
                </p:column>


                <p:column sortBy="#{item.devresponsable}" filterBy="#{item.devresponsable}">
                    <f:facet name="header">
                        <h:outputText value="#{myBundle.ListUserHistoriesTitle_devresponsable}"/>
                    </f:facet>
                    <h:outputText value="#{item.devresponsable}"/>
                </p:column>

                <ui:remove>
                    <p:column sortBy="#{item.idProduct.idProduct}" filterBy="#{item.idProduct.idProduct}">
                        <f:facet name="header">
                            <h:outputText value="#{myBundle.ListUserHistoriesTitle_idProduct}"/>
                        </f:facet>
                        <h:outputText value="#{item.idProduct.idProduct}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{myBundle.Create}" actionListener="#{userHistoriesController.prepareCreate}" update=":UserHistoriesCreateForm" oncomplete="PF('UserHistoriesCreateDialog').show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{myBundle.View}" update=":UserHistoriesViewForm" oncomplete="PF('UserHistoriesViewDialog').show()" disabled="#{empty userHistoriesController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{myBundle.Edit}" update=":UserHistoriesEditForm" oncomplete="PF('UserHistoriesEditDialog').show()" disabled="#{empty userHistoriesController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{myBundle.Delete}" actionListener="#{userHistoriesController.delete}" update=":growl,datalist" disabled="#{empty userHistoriesController.selected}">
                <p:confirm header="#{myBundle.ConfirmationHeader}" message="#{myBundle.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>