<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserHistoriesViewDlg" widgetVar="UserHistoriesViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{myBundle.ViewUserHistoriesTitle}" closeOnEscape="true">

            <h:form id="UserHistoriesViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{userHistoriesController.selected != null}">

                        <h:outputText value="#{myBundle.ViewUserHistoriesLabel_idUser}"/>
                        <h:outputText value="#{userHistoriesController.selected.idUser}" title="#{myBundle.ViewUserHistoriesTitle_idUser}"/>

                        <h:outputText value="#{myBundle.ViewUserHistoriesLabel_descripcion}"/>
                        <h:outputText value="#{userHistoriesController.selected.descripcion}" title="#{myBundle.ViewUserHistoriesTitle_descripcion}"/>

                        <h:outputText value="#{myBundle.ViewUserHistoriesLabel_prioridad}"/>
                        <h:outputText value="#{userHistoriesController.selected.prioridad}" title="#{myBundle.ViewUserHistoriesTitle_prioridad}"/>

                        <h:outputText value="#{myBundle.ViewUserHistoriesLabel_numeroiteracion}"/>
                        <h:outputText value="#{userHistoriesController.selected.numeroiteracion}" title="#{myBundle.ViewUserHistoriesTitle_numeroiteracion}"/>

                        <h:outputText value="#{myBundle.ViewUserHistoriesLabel_riesgo}"/>
                        <h:outputText value="#{userHistoriesController.selected.riesgo}" title="#{myBundle.ViewUserHistoriesTitle_riesgo}"/>

                        <h:outputText value="#{myBundle.ViewUserHistoriesLabel_devresponsable}"/>
                        <h:outputText value="#{userHistoriesController.selected.devresponsable}" title="#{myBundle.ViewUserHistoriesTitle_devresponsable}"/>

                        <h:outputText value="#{myBundle.ViewUserHistoriesLabel_idProduct}"/>
                        <h:outputText value="#{userHistoriesController.selected.idProduct.idProduct}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{myBundle.Close}" onclick="PF('UserHistoriesViewDialog').hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
