<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/include/template.xhtml">

    <ui:define name="title">
        <h:outputText value="#{myBundle.AsignarTitle}"/>
    </ui:define>

    <ui:define name="body">

        <ui:include src="/WEB-INF/include/entity/asignar/List.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/asignar/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/asignar/Edit.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/asignar/Create.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/proyecto/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/usuario/View.xhtml"/>
        <ui:include src="/WEB-INF/include/entity/rol/View.xhtml"/>

    </ui:define>

</ui:composition>