<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    
    </h:head>
    <h:body styleClass="cyan lighten-5">
        <div class="valign-wrapper" id="login-page">
            <div class="container">
                <div class="center-align">
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <div class="card">
                                <div class="card-content">
                                    <img class="responsive-img" style="max-width: 64px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtLbQTmXFfGxly0nt43XRMHMdV2N9lL58X8PJdDmUlPXenzaXU" />
                                    <div class="left-align">
                                        <h:form id="login-form">
                                            <p:growl autoUpdate="true" />
                                            <div class="row">
                                                <div class="col s12 input-field">
                                                    <h:inputText id="usuario" required="true" requiredMessage="Usuario es requerido" />
                                                    <h:outputLabel for="usuario" value="Usuario" />
                                                </div>
                                                <div class="col s12 input-field">
                                                    <h:inputSecret id="clave" required="true" requiredMessage="Clave es requerido" />
                                                    <h:outputLabel for="clave" value="Clave" />
                                                </div>
                                                <div class="col s12 input-field">
                                                    <h:commandLink value="Login" styleClass="btn btn-large" actionListener="#{login.loginProject()}" />
                                                </div>                                                
                                                
                                            </div>
                                                 
                                        </h:form>
                                    </div>
                                </div> 
                                
                            </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).on("ready",function(){
                $('#login-page').css({'height':window.innerHeight + 'px'});
            });
        </script>
            
            
    </h:body>
</html>
